html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    font-family: 'Libre Baskerville', serif;
    background-color: rgb(218, 218, 218);
}


nav{
    background-color: rgb(50, 58, 70);
    height: 80px;
    width: 100%;
}



nav ul{
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a.hover{
    background-color: #80bdec;
    transition: .5s;
}

div.hero-img-container{
    background-image: url("../images/hero-img1.jpeg");
    background-color: rgba(248, 247, 216, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 215px;
}

div.inner-container {
    background-color: rgba(50, 58, 70, 0.7);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 450px;
    
}

div.inner-container-text{
    text-align: center;
    position: absolute;
    margin-top: 135px;
    margin-left: 135px;
    margin-bottom: 135px;
    margin-bottom: 135px;
    color: rgb(255, 255, 255);
    
}

.button{
    background-color: rgb(50, 58, 70);
    border: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

div.content {
    padding: 20px 80px;
    font-size: 19px;
}

div img.About_pic{
    padding: 0px 20px;
}

div h1.About{
    padding: 5px 400px;
}

div h1{
    padding: 5px 0px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(50, 58, 70);
   color: white;
   text-align: center;
   padding: 20px;
}





@media only screen and (max-width: 768px){
    
    nav{
        height: 60px;
        width: 255%;
    }
    
    nav ul{
        font-family: 'Montserrat', sans-serif;
        float: right;
        margin-right: 50px;
    }
    nav ul li{
        display: inline-block;
        line-height: 0px;
        margin:  40px 5px;
    }
    nav ul li a{
        color: white;
        font-size: 17px;
        padding: 7px 10px;
        border-radius: 3px;
        text-transform: uppercase;
    }

    div.hero-img-container{
    background-image: url("../images/hero-img1.jpeg");
    background-color: rgba(248, 247, 216, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 255%;
    
}

div.inner-container {
    background-color: rgba(50, 58, 70, 0.7);
    position: absolute;
    top: 60px;
    left: 0;
    width: 255%;
    height: 430px;
    
}

div.inner-container-text{
    text-align: center;
    position: absolute;
    margin-top: 135px;
    margin-left: 135px;
    margin-bottom: 135px;
    margin-bottom: 135px;
    color: rgb(255, 255, 255);
    
}

.button{
    background-color: rgb(50, 58, 70);
    border: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
    div.content {
        padding: 20px 5px;
        font-size: 19px;
        width: 255%;
    }
    
}



